.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.fields {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.formButton {
  display: flex;
  gap: 20px;
}