.formList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.formList label {
  font-size: 20px;
}

.formList select {
  height: 92px;
  font-size: 20px;
  background-color: #191919;
  border: 1px solid #262626;
  border-radius: 5px;
  color: white;
  padding: 15px;
}