.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 54px;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
}