.header {
  background-color: #262626;
  height: 125px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.logo {
  width: 168px;
  height: 40px;
  padding: 42.5px 51px;
}

.buttons {
  display: flex;
  padding: 35.5px 51px;
  gap: 25px;
}