.container {
  display: flex;
  flex-direction: column;
  gap: 90px;
  width: 100%;
  margin-top: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 42px;
}

.category {
  width: 432px;
  height: 70px;
  border-radius: 15px;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  align-content: center;
}

.videos {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}